*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
scroll-behavior:smooth;
}


body{

font-family:Arial,sans-serif;

background:#fff7f9;

color:#4b3040;

overflow-x:hidden;

}



section{

min-height:100vh;

padding:80px 8%;

position:relative;

overflow:hidden;

}



h1,h2{

font-family:cursive;

}



h2{

font-size:65px;

text-align:center;

color:#d65c8d;

margin-bottom:30px;

}






/* HERO */


.hero{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

background:

linear-gradient(
rgba(255,150,190,.4),
rgba(255,255,255,.3)
),

url("images/bg.jpg");

background-size:cover;

background-position:center;

}



.hero-text{

color:white;

text-shadow:0 5px 20px #555;

}



.hero h1{

font-size:100px;

}



.hero p{

font-size:25px;

margin:30px;

}



.hero button{

padding:18px 45px;

border:none;

border-radius:50px;

background:#ff7fa8;

color:white;

font-size:20px;

cursor:pointer;

}





/* TREE */


.tree-section{

background:#fff1f6;

text-align:center;

}



.tree{

width:600px;

height:650px;

margin:auto;

position:relative;

}




.trunk{

position:absolute;

bottom:80px;

left:50%;

transform:translateX(-50%);

width:90px;

height:400px;

background:

linear-gradient(
90deg,
#402313,
#a66a3f,
#402313
);

border-radius:50px;

}



.roots{

position:absolute;

bottom:40px;

left:50%;

transform:translateX(-50%);

width:450px;

height:100px;

background:#63351b;

border-radius:50%;

}





.branch{

position:absolute;

height:20px;

background:#573019;

border-radius:20px;

}



.b1{

width:260px;

left:80px;

bottom:430px;

transform:rotate(-35deg);

}



.b2{

width:260px;

right:80px;

bottom:430px;

transform:rotate(35deg);

}



.b3{

width:200px;

left:160px;

bottom:520px;

transform:rotate(-55deg);

}



.b4{

width:200px;

right:160px;

bottom:520px;

transform:rotate(55deg);

}






/* TULIPS */


.tulips .tulip{

position:absolute;

width:35px;

height:55px;

border-radius:

50% 50% 45% 45%;

animation:bloom 3s infinite alternate;

}



.tulip::after{

content:"";

position:absolute;

bottom:-35px;

left:15px;

height:40px;

width:5px;

background:green;

}





.white{

background:white;

box-shadow:0 0 20px white;

}



.pink{

background:#ff8fba;

box-shadow:0 0 20px pink;

}





.tulip:nth-child(1){

top:150px;

left:150px;

}


.tulip:nth-child(2){

top:120px;

left:280px;

}


.tulip:nth-child(3){

top:170px;

left:420px;

}


.tulip:nth-child(4){

top:250px;

left:200px;

}


.tulip:nth-child(5){

top:280px;

left:350px;

}


.tulip:nth-child(6){

top:220px;

left:480px;

}


.tulip:nth-child(7){

top:350px;

left:250px;

}


.tulip:nth-child(8){

top:330px;

left:400px;

}





@keyframes bloom{

from{

transform:scale(.7);

}

to{

transform:scale(1.15);

}

}






/* STORY */


.story{

background:white;

}



.cards{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.card{

width:300px;

padding:40px;

background:#fff;

border-radius:25px;

box-shadow:0 15px 35px #ddd;

text-align:center;

}





/* NOTES */


.notes{

background:#fff3e8;

}



.notes-area{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

}



.note{

min-height:220px;

padding:35px;

background:#4b5381;

font-size:20px;

box-shadow:0 15px 30px #cccccc;

transform:rotate(-3deg);

}



.note:nth-child(even){

background:#ffc9df;

transform:rotate(3deg);

}






/* GALLERY */


.gallery{

background:white;

}



.photos{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.photos img{

width:300px;

height:300px;

object-fit:cover;

border-radius:25px;

box-shadow:0 15px 30px #ccc;

}






/* ENDING */


.ending{

background:

linear-gradient(
#1c2745,
#050810
);

color:white;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

}



.ending h2{

color:white;

font-size:90px;

}



.ending p{
  

font-size:25px;

max-width:800px;

line-height:2;

}

.ending p1{
   color:rgb(116, 62, 62) ;

font-size:25px;

max-width:800px;

line-height:2;

}





.music-btn{

position:fixed;

bottom:30px;

right:30px;

width:70px;

height:70px;

border:none;

border-radius:50%;

background:#ff7fa8;

color:white;

font-size:30px;

cursor:pointer;

}



@media(max-width:700px){


.hero h1{

font-size:55px;

}


.tree{

transform:scale(.7);

}


.notes-area{

grid-template-columns:1fr;

}


}
/* =========================
PART 5 — EXTRA EFFECT CSS
PASTE AT END OF style.css
========================= */


.petal{

position:fixed;

top:-30px;

width:20px;

height:25px;

background:

linear-gradient(
135deg,
#ffffff,
#ff9fc5
);

border-radius:

80% 20% 80% 20%;

z-index:20;

pointer-events:none;

animation:

fallPetal linear forwards;

}



@keyframes fallPetal{


0%{

transform:

translateY(-50px)
rotate(0deg);

opacity:1;

}



100%{

transform:

translateY(110vh)
rotate(720deg);

opacity:0;

}


}






@keyframes heartUp{


0%{

transform:

translateY(0)
scale(.5);

opacity:0;

}



20%{

opacity:1;

}



100%{

transform:

translateY(-110vh)
scale(1.5);

opacity:0;

}


}






.card:hover{

transform:

translateY(-15px)
scale(1.05);

transition:.5s;

}





.note:hover{

transform:

translateY(-15px)
rotate(0deg);

transition:.5s;

}





.photos img:hover{

transform:

scale(1.08);

transition:.5s;

box-shadow:

0 0 40px pink;

}





.tree{

animation:

treeMove 5s infinite alternate;

transform-origin:bottom;

}



@keyframes treeMove{


from{

transform:rotate(-1deg);

}



to{

transform:rotate(1deg);

}


}






.ending h2{

animation:

glowText 3s infinite;

}



@keyframes glowText{


0%{

text-shadow:

0 0 10px pink;

}



50%{

text-shadow:

0 0 40px white,
0 0 70px pink;

}



100%{

text-shadow:

0 0 10px pink;

}


}





.hero button{

animation:

pulse 2s infinite;

}



@keyframes pulse{


0%{

box-shadow:

0 0 0 0 rgba(255,120,160,.7);

}



70%{

box-shadow:

0 0 0 25px rgba(255,120,160,0);

}



100%{

box-shadow:

0 0 0 0 rgba(255,120,160,0);

}


}
/* =========================
PART 7 — GALLERY + ROMANTIC EFFECT CSS
PASTE AT END OF style.css
========================= */



.image-viewer{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:

rgba(0,0,0,.85);

display:flex;

align-items:center;

justify-content:center;

z-index:1000;

}



.image-viewer img{

max-width:80%;

max-height:80%;

border-radius:30px;

box-shadow:

0 0 50px pink;

animation:

zoomImage .5s;

}



.image-viewer span{

position:absolute;

top:40px;

right:50px;

font-size:50px;

color:white;

cursor:pointer;

}





@keyframes zoomImage{


from{

transform:scale(.5);

opacity:0;

}



to{

transform:scale(1);

opacity:1;

}


}








/* =========================
   FIREFLY EFFECT
========================= */


.firefly{

position:absolute;

width:8px;

height:8px;

background:#fff3a6;

border-radius:50%;

box-shadow:

0 0 20px #fff3a6;

animation:

fly 6s infinite;

}



@keyframes fly{


0%{

transform:

translate(0,0);

opacity:.2;

}



50%{

opacity:1;

}



100%{

transform:

translate(100px,-200px);

opacity:0;

}


}








/* =========================
   STARS
========================= */


.ending::before{

content:"";

position:absolute;

inset:0;

background-image:

radial-gradient(
white 1px,
transparent 1px
);

background-size:

70px 70px;

opacity:.4;

animation:

stars 20s linear infinite;

}



@keyframes stars{


from{

background-position:0 0;

}



to{

background-position:300px 300px;

}


}






/* =========================
   MOBILE GALLERY
========================= */


@media(max-width:700px){


.image-viewer img{

max-width:95%;

}



.image-viewer span{

right:20px;

top:20px;

font-size:35px;

}


}
.voice-card {
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    padding: 35px;
    text-align: center;

    background: linear-gradient(135deg, z#33ad4d, #508541);
    color: rgb(131, 58, 58);

    border-radius: 25px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);

    transition: transform 0.3s ease;
}

.voice-card:hover {
    transform: translateY(-8px);
}

.voice-icon {
    font-size: 55px;
    margin-bottom: 15px;
}

.voice-card h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.voice-card p {
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 25px;
}

.voice-card audio {
    width: 100%;
    border-radius: 15px;
}/* Mobile Fix */

 @media (max-width: 768px) {

  .tree-section {
    overflow-x: auto;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    padding: 20px 0;
  }

  .tree {
    width: 600px;
    min-width: 600px;
    height: 650px;
    margin: 0 auto;
    position: relative;
    transform: none;
  }

}
